
{{ define "main" }}

  {{ block "header" . }}{{ partial "header" . }}{{end}}

  <main>
		<article class="card">
			<div class="header">
				<h1>{{.Title}} | Performances</h1>
			</div>
			<!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
			<div>{{.Content}}</div>
		</article>
		<div class="row">
			<div class="columns small-12 medium-8 large-8 medium-offset-2 large-offset-2">
				<div class="card-section">
					<!-- Ranges through content/performances/_index.md -->
					{{ $item := .Params.Performances }}
					{{ range $item }}
						{{ $img := .images }}
						{{ range first 1 $img }}
							<a href="{{.Permalink}}">
								<img class="grid-image" src="https://ucarecdn.com/{{ .img_src }}/-/preview/" alt="{{ .alt_image }}" title= "{{ .alt_image }}">
							</a>
						{{ end }}
						<hr/>
					{{ end }}
				</div>
			</div>
		</div>
  </main>

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

{{ end }}
