
{{ define "main" }}

  {{ block "header" . }}{{ partial "header" . }}{{end}}

  <main>
	<div class="row">
		<div class="columns small-12 medium-10 large-10 medium-offset-1 large-offset-1">
			<div class="card-section">
				<div class="row">
					<!-- Ranges through content/performances/*.md -->
					{{ range $index, $item:= .Data.Pages }} 
						{{if (eq $index 0)}}
							<div class="columns grid-image img-prev small-12 medium-12 large-12 wrapper_img" data-id="{{$index}}">
						{{else}}
							<div class="columns grid-image small-12 medium-6 large-4 wrapper_img" data-id="{{$index}}" >
						{{end}}
							{{$img := index (.Params.images) 0 }}
							<div data-id="{{$index}}"  class="perfomance_img">
								<a href="{{.Permalink}}"><img 	src="https://ucarecdn.com/{{ $img }}/-/preview/"  
										alt=	"{{.Params.title}} :  {{dateFormat "Jan 2, 2006" .Params.date}}" 
										title= 	"{{.Params.title}} :  {{dateFormat "Jan 2, 2006" .Params.date}}">	
								</a>		
							</div>
							<div class="performanceOverview">
									<div class="photos">{{.Params.title}}</div>

							</div>
							
							<div class="image-date"> {{dateFormat "2 Jan" .Params.date}}</div>
						</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
  </main>

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

{{ end }}