
{{ define "main" }}

  {{ block "header" . }}{{ partial "header" . }}{{end}}

  {{ block "suite-navigation" . }}{{ partial "suite-navigation" . }}{{end}}

  <main>
      <article class="card">
          <div class="header">
              <h1>{{.Title}}</h1>
          </div>
          <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
          <!--{{.Content}}-->
          <ul>
          {{ $item := .Params.article_from_press }}
          {{ range $item }}
          
          <li><a href="{{.link}}">{{ dateFormat "2 Jan, 2006" .date}} | {{ .title }}</a></li>
          {{end}}
        </ul>
      </article>
      <ul>
      <!-- Ranges through content/post/*.md -->
      {{ range .Data.Pages }}
          <li>
              <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
          </li>
      {{ end }}
      </ul>
  </main>

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

{{ end }}
