
{{ define "main" }}

  {{ block "header" . }}{{ partial "header" . }}{{end}}

  {{ block "suite-navigation" . }}{{ partial "suite-navigation" . }}{{end}}

    <main>
      <article class="card">
        <div class="header">
            <h1>{{ .Params.press.title }}</h1>
        </div>
        <div class="header">
            <h2>{{ .Params.press.first_block }}</h2>
        </div>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        <!--{{.Content}}-->
        <ul class="accordion" data-accordion>
            {{ $item := .Params.article_from_press }}
            {{ range $item }}
                <li class="accordion-item " data-accordion-item>
                    <a href="#" class="accordion-title">{{ dateFormat "2 Jan, 2006" .date}} -  {{ .title | safeHTML }}</a>
                    <div class="accordion-content" data-tab-content >
                        <div>{{ .description| safeHTML }}</div>
                    </div>
                </li>
            {{end}}
        </ul>

        <hr/>
        <div class="header">
            <h2>{{ .Params.press.second_block }}</h2>
        </div>
                  <!-- Ranges through content/press/*.md -->
        <ul class="accordion" data-accordion>
            {{ range (where .Data.Pages "Section" "press")  }}
                <li class="accordion-item " data-accordion-item>
                    <a href="#" class="accordion-title">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                    <div class="accordion-content" data-tab-content >
                        <div>{{ .Content| safeHTML}}</div>
                    </div>
                </li>
            {{ end }}
        </ul>

        <hr/>
        <div class="header">
            <h2>{{ .Params.press.third_block }}</h2>
        </div>
                  <!-- Ranges through content/posts/*.md -->
        <ul class="accordion" data-accordion>

            {{ range (where .Site.Pages "Section" "posts")  }}
                <li class="accordion-item " data-accordion-item>
                    <a href="#" class="accordion-title">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                    <div class="accordion-content" data-tab-content >
                        <div>{{ .Content| safeHTML}}</div>
                    </div>
                </li>
            {{ end }}
        </ul>
      </article>
    </main>

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

{{ end }}
