
{{ define "main" }}

  {{ block "header" . }}{{ partial "header" . }}{{end}}

  {{ block "suite-navigation" . }}{{ partial "suite-navigation" . }}{{end}}

  <div class="tag-{{ .Params.suite }}">
    <div class="header">
      <h1><div class="flag"></div><span>{{ .Params.title }}</span></h1>
    </div>

    {{ if isset .Site.Data.suites .Params.suite }}
      <div class="suite-info">{{ (index .Site.Data.suites .Params.suite).description }}</div>
    {{ end }}

    {{ range .Data.Pages }}
      {{ block "video-card" . }}{{partial "video-card" . }}{{end}}
    {{ end }}


  </div>



  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

{{ end }}
