$header-height: 4rem;

* {
  backface-visibility: inherit;
}

.off-canvas-content > header#main-header {
  .main-header-inner {
    .logo-container {
      .logo-abridged {
        transform: translateY(0);
      }
    }
  }
}

header#main-header {

  height: $header-height;
  position: relative;
  z-index: 100;

  &.fixed {
    .main-header-inner {
      // position: fixed;
      z-index: 1000000;

      .logo-container {

        .logo-abridged {
          transform: translateY(0);
        }
      }
    }
    z-index: 100000;
  }

  .main-header-inner {
    background-color: $primary-color;
    height: $header-height;
    width: 100%;
    top: 0;
    overflow: hidden;
    transition: all 700ms ease;

    display: flex;

    .logo-container {
      line-height: $header-height;
      display: flex;
      padding: 0 1rem;


      .logo-abridged {
        height: $header-height - 1.25rem;
        width: auto;
        align-self: center;
        transform: translateY(-$header-height);
        transition: .25s all;
      }
    }

    .header-menu {
      list-style: none;
      margin: 0;
      padding: 0;
      flex: 1;

      &.right {
        flex: none;
      }

      &.right {
        text-align: right;
      }

      li {
        display: inline-block;
        vertical-align: text-top;

        a, span {
          color: $white;
          font-size: 1.25rem;
          font-weight: bold;
          display: block;
          padding: 1rem;
          line-height: 2rem;
        }

        a {
          text-decoration: none;
          &.icon {
            font-size: 2rem;
            line-height: 2rem;
            width: 4rem;
            text-align: center;
          }

          &:hover {
            background-color: lighten($primary-color,5%);
          }
        }

        &.active {
          a {
            background-color: lighten($primary-color,5%);
          }
        }
      }
    }

  }
}

footer#main-footer {
  width: 100%;
  background: $black;
  bottom: 0;
  padding: 1rem 0;
  color: $white;
  text-align: center;

  a {
    color: $white;
    font-weight: bold;
  }
}
