
{{ define "main" }}

  {{ block "header" . }}{{ partial "header" . }}{{end}}

  <main>
		<article class="card">
			<div class="header">
				<h1>{{.Title}}</h1>
			</div>
			<!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
			<div>{{.Content}}</div>
		</article>
		<div class="row">
			<div class="columns small-12 medium-8 large-8 medium-offset-2 large-offset-2">
				<div class="card-section">
					<!-- Ranges through content/press/*.md -->
					{{ $item := .Data.Pages }}
					{{ range $item }}
						<h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
						<h5>{{  dateFormat "Jan 2, 2006" .Date }} in '{{ .Params.source_name }}'</h5>
						<div class="short-description">
							{{substr .Content 0 100 | safeHTML}}
						</div>
						<p class="read-more"><!--a href="{{.Permalink}}">{{ $.Params.read_more }}</a--></p>
					{{ end }}
				</div>
			</div>
		</div>
  </main>

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

{{ end }}
