<section id="hireus-section" class="section">
  <div class="content-container">
    <div class="content">
      <div class="form-description">
        <h1>Hire Us</h1>
        <p>{{ .Params.hireus }}</p>
      </div>
      <div class="cta">
        <a class="button large" href="mailto:carpathiadc@gmail.com?subject=We%20want%20Carpathia%20DC%20to%20dance%20in%20our%20event!&body=Please%20include:%20EVENT%20NAME,%20EVENT%20DATE,%20EVENT%20LOCATION,%20BUDGET">Contact Us Today!</a>
      </div>
    </div>
  </div>
</section>
