<section id="joinus-section" class="section">
  <div class="content-container">
    <div class="content">
    <div class="form-description">
      <h1>Join Us</h1>
      <p>{{ .Params.joinus }}</p>
    </div>
    <div class="cta">
        <a href="mailto:carpathiadc@gmail.com?subject=Interested%20in%20joining%20Carpathia%20DC" class="button large"><i class="fa fa-email"></i> Contact Us Today!</a>
    </div>
    </div>
  </div>


  {{ block "footer" . }}{{ partial "footer" . }}{{end}}
</section>
