<section id="main-banner" class="section">
  <div class="content-container">
    {{ block "suite-navigation" . }}{{ partial "suite-navigation" . }}{{end}}
    <div class="banner-content">
      <div class="content">
        <div class="logo">
          <img src="/img/CarpathiaLogo.png" alt="Carpathia Folk Dance Ensemble">
        </div>

        <div class="sub-header">
          {{ $.Site.Params.tagline}}
        </div>
        <div class="flex-spacer"></div>
        <div id="next-event">
          <div class="event">{{ block "upcoming-events" . }}{{ partial "upcoming-events" . }}{{end}}</div>
        </div>
      </div>
      <div id="bg-video">
        <div class="fb-like" data-href="https://facebook.com/carpathiadc" data-layout="box_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
      </div>
    </div>
    {{ block "header" . }}{{ partial "header" . }}{{end}}

  </div>
</section>
