<!-- Meta -->
<meta name='keywords' content={{ $.Site.Data.SEO.keywords }}>
<meta name="description" content={{ $.Site.Data.SEO.description }} />
<meta name='copyright' content='CapathiaDC'>
<meta name='language' content='EN'>
<meta name='robots' content='noindex,nofollow'>
<meta name='Classification' content='Organization'>
<meta name='author' content='CarpathiaDC, carpathiadc@gmail.com'>
<meta name='designer' content='{{ $.Site.Params.designer }}'>
<meta name='reply-to' content='carpathiadc@gmail.com'>
<meta name='owner' content='CarpathiaDC'>
<meta name='url' content='http://carpathiafolkdanceensemble.org'>
<meta name='identifier-URL' content='http://carpathiafolkdanceensemble.org'>
<!-- END Meta -->
