<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-position="right">
  <!-- Close button -->
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <!-- Menu -->
  <ul class="vertical menu">
    <li data-menuanchor="home"><a href="#main-banner">Home</a></li>
    <li data-menuanchor="about"><a href="#about-section">About</a></li>
    <li data-menuanchor="suites">
      <a href="#suites-container">Suites</a>
      <ul class="vertical menu flags">
        <li class="ukr"><a href="#suite-ukraine">Ukraine</a></li>
        <li class="rou"><a href="#suite-romania">Romania</a></li>
        <li class="pol"><a href="#suite-poland">Poland</a></li>
        <li class="gyp"><a href="#suite-gypsy">Gypsy</a></li>
        <li class="ger"><a href="#suite-germany">Germany</a></li>
        <li class="hun"><a href="#suite-hungary">Hungary</a></li>
        <li class="mkd"><a href="#suite-macedonia">Macedonia</a></li>
      </ul>
    </li>
	  <li><a href="/performances/">Performances</a></li>
    <li data-menuanchor="hireus"><a href="#hireus-section">Hire Us</a></li>
    <li data-menuanchor="joinus"><a href="#joinus-section">Join Us</a></li>
    <li><a href="/press/">Press</a></li>
    <li><a href="/links/">Links</a></li>
  </ul>
</div>
