<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-position="right">
  <!-- Close button -->
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <!-- Menu -->
  <ul class="vertical menu">
    <li data-menuanchor="home"><a href="#home">Home</a></li>
    <li data-menuanchor="about"><a href="#about">About</a></li>
    <li data-menuanchor="suites"><a href="#suites">Suites</a></li>
	  <li data-menuanchor="suites"><a href="/performances/">Performances</a></li>
    <li data-menuanchor="hireus"><a href="#hireus">Hire Us</a></li>
    <li data-menuanchor="joinus"><a href="#joinus">Join Us</a></li>
  </ul>
</div>
