<!-- OG Tags -->
<meta property="og:title" content="Carpathia Folk Dance Ensemble | Washington DC">
<meta property="og:description" content="Carpathia is Washington's folk dance ensemble that specializes in the dances of Central and Eastern Europe.">
<meta property="og:image" content="/img/ogimage.jpg">
<meta property="og:url" content="http://caprathiafolkdanceensemble.org">

<meta name="twitter:title" content="Carpathia Folk Dance Ensemble | Washington DC">
<meta name="twitter:description" content="Carpathia is Washington's folk dance ensemble that specializes in the dances of Central and Eastern Europe.">
<meta name="twitter:image" content="http://caprathiafolkdanceensemble.org">
<meta name="twitter:card" content="summary_large_image">
<!-- END OG Tags -->
