<div class="orbit" role="region" aria-label="" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
    <ul class="orbit-container">
        {{ $item := .Params.item_from_orbit }}
        {{ range $item }}
            <li class=" {{ if eq .is_active "true" }}is-active{{ end }} orbit-slide">
                <img class="orbit-image" src="https://ucarecdn.com/{{ .img_src }}/-/preview/" >
            </li>
        {{end}}
    </ul>             
</div>