<div class="orbit" role="region" aria-label="" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
    <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
        {{ $item := .Params.item_from_orbit }}
        {{ range $item }}
            <li class=" {{ if eq .is_active "true" }}is-active{{ end }} orbit-slide">
                <img class="orbit-image" src="{{ .img_src }}" alt="{{ .title_img }}" title= "{{ .title_img }}">
            </li>
        {{end}}
    </ul>             
</div>