<div class="upcoming-events">

    <h4><i class="fa fa-calendar"></i> Upcoming Shows</h4>
    <ul>
    {{ range $.Site.Data.upcomingEvents }}
        <li>
          <strong>
          {{ if isset . "description" }}
            <a href="{{.description}}" target="_blank">{{ .summary }}</a>
          {{ else }}
            {{ .summary }}
          {{ end }}
        </strong><br />
          <em>{{if isset .start "date"}}{{ dateFormat "January 2nd at 3:04pm" .start.date }}{{end}}{{if isset .start "dateTime"}}{{ dateFormat "January 2 at 3:04pm" .start.dateTime }}{{end}}</em><br />
            {{ .location }}
          </a>
        </li>
    {{ end }}
    </ul>
  </div>