.breadcrumbs{
    padding-top: 20px;
	}

.breadcrumbs>div{
	float: left;
}
.clear{
	clear: both;
	float: none !important;
}

#main-banner .banner-content .content {
	border-right: 1px dashed $light-gray;
}

/* ----------- orbit - start   -------------*/
.orbit-container{
	padding: 0px;
	max-height:  100%;
}

.orbit {
	height:  100%;
	max-height:  100%;
}

.orbit-slide{
	max-height: 100% !important;
	text-align: center;
}

.wrapper-orbit{
	width:100%;
}

.orbit-image{
	max-width: 960px;
}

.orbit-previous, .orbit-next{
	background-color: lighten($primary-color,30%);
}

.orbit-previous:hover,
.orbit-next:hover,
.orbit-previous:active,
.orbit-next:active,
.orbit-previous:focus,
.orbit-next:focus {
	background-color: lighten($primary-color,20%);
}

/* ----------- orbit - end   -------------*/

/* ----------- list - start   -------------*/
 .card-section .read-more{
	border-bottom: 1px dashed $light-gray;
	padding-bottom: 1em;
  }

.short-description>p:first-child{
	font-style: italic;
}

.short-description>p:first-child::before {
	content: '\201c';
	top: -12px; 
	left: 0; 
  }
  
  .short-description>p:first-child::after {
	content: ' ... \201d';
	bottom: -29px; 
	right: 0;
  }
  
.read-more{
	padding-left: 20px;
}

.read-more a{
	background-color: $primary-color;
  	color: $white;
  	padding: 0.5em 1em;
  	text-decoration: none;
  	text-transform: uppercase;
}

.read-more a:hover {
  background-color: lighten($primary-color,5%);
}

.grid-image{
	padding:14px;
	position: relative;
	border: 1px dashed $light-gray;
}

.for-mobile{
	display: none;
}

.perfomance_img{
	padding-bottom: 4em;
}

.img-prev .perfomance_description{
	font-size: $global-font-size !important;
}

.perfomance_description{
	display: none;
	font-size: $global-font-size*0.8;
	margin-right: 14px;
}

.performanceOverview{
	position: absolute;
	bottom: 0px;
	background-color: $white;
}
/* ----------- list - end   -------------*/

/* ----------- links - start   -------------*/
.one-link:not(:first-child){
	border-top: 1px dashed $light-gray;
	padding-top: 1em;
}

.image-date{
	background-color: lighten($primary-color,10%);
	color:$white;
	position: absolute;
	top: 2em;
	right: 2em;
	width: 3em;
	height: 3em;
	line-height: 3em;
	border-radius: 1.5em;
	text-align: center;
	font-weight: 700;
	font-size: $global-font-size*0.7;
}

.img-prev .image-date{
	font-size: $global-font-size*1.1 !important;
}

.photos{
	position: absolute;
	top: -3em;
	background-color: lighten($primary-color,10%);
	color:$white;
	width: 8em;
	height: 3em;
	line-height: 3em;
	border-radius: 0em;
	text-align: center;
	font-weight: 700;
	font-size: $global-font-size*0.7;
	text-transform: uppercase; 
}

.img-prev .photos{
	font-size: $global-font-size*0.9 !important;
	width: 10em !important;
	top: -3.8em !important;
}

.photos a {
	text-decoration: none;
	color: $white;
}

/* ----------- links - end   -------------*/

/* ----------- tooltip - start   -------------*/
.tooltip {
	max-width: 15rem !important;
	background-color: $primary-color;
	border: 1px solid lighten($black,10%);
}

.grid-image .has-tip {
    cursor: pointer;
}
/* ----------- tooltip - end   -------------*/

/* ----------- reveal - end   -------------*/
.full.reveal{
	padding: 0px !important;
	background-color: $light-gray;
}

.full.reveal .orbit{
	padding: 30px !important;
}

.full.reveal .orbit-container,
.full.reveal .orbit-container .orbit-slide{
	height: 100% !important;
}

.grid-item-image:hover{
	cursor: pointer;
}

/* ----------- reveal - end   -------------*/


@media only screen and (max-width: 639px) {
    header#main-header {
		height: 3rem !important;
		position: fixed !important;
		width: 100%;
		top: 0px;
	}

	header#main-header, .main-header-inner {
		height: 3rem !important;
	}

	header#main-header .main-header-inner .header-menu li a, header#main-header .main-header-inner .header-menu li span {
		font-size: 1.25rem !important;
		padding: 1rem !important;
	}

	header#main-header .main-header-inner .header-menu li a{
		padding: 0.3em !important;
	}

	#main-banner .banner-content,
	.breadcrumbs.type-text{
		margin-top: 3rem !important;
	}

	header#main-header .main-header-inner .logo-container .logo-abridged {
		-webkit-transform: translateY(-0.5rem) !important;
		-ms-transform: translateY(-0.5rem) !important;
		transform: translateY(-0.5rem) !important;
		height: 90% !important;
	}

	section {
		height: auto !important;
		min-height: 100vh;
	}

	.orbit-previous, .orbit-next {
		background-color: $primary-color !important;
		opacity: 0.7;
    	padding: 0.5rem !important;
	}

	#main-banner .banner-content {
		display: block !important;
	}

	.for-mobile{
		display: block;
		padding: 5px 0;
    	margin: 5px 0;
	}

	h1 {
		font-size: 1.2em;
	}

	article.card > header h1:before, article.card > header h1:after, 
	article.card > header h2:before, article.card > header h2:after, 
	article.card > .header h1:before, article.card > .header h1:after, 
	article.card > .header h2:before, article.card > .header h2:after {
		background-size: 60% 100% !important;
		margin-right: 0.5rem !important;
		width: calc(1em + 2rem) !important;
		margin-left: 0rem !important;
	}

	.card {
		margin-bottom: 0.2rem !important;
	}

	article.card > header, article.card > .header {
		padding-left: 0.3rem !important;
		padding-right: 0.3rem !important;
	}

	.grid-image {
		border-bottom: 1px dotted $medium-gray;
	}

}